ttsmp3-client/mp-rest/url=https://ttsmp3.com/makemp3_new.php
ttsmp3-client/mp-rest/scope=javax.inject.Singleton
ttsmp3-client/mp-rest/hostnameVerifier=io.quarkus.restclient.NoopHostnameVerifier

ttsmp3-downloader/mp-rest/url=https://ttsmp3.com/created_mp3
ttsmp3-downloader/mp-rest/scope=javax.inject.Singleton
ttsmp3-downloader/mp-rest/hostnameVerifier=io.quarkus.restclient.NoopHostnameVerifier

googletranslate-client/mp-rest/url=https://translate.google.com/translate_tts
googletranslate-client/mp-rest/scope=javax.inject.Singleton
googletranslate-client/mp-rest/hostnameVerifier=io.quarkus.restclient.NoopHostnameVerifier

quarkus.smallrye-openapi.path=/swagger
quarkus.tls.trust-all=true

# Depth is used in order to reduce the amount of files inside a directory
# The amount of files inside a single directory is reduced by at most 16^depth
storage.filesystem.depth=2
storage.filesystem.root=cache

rest.generation.route=http://localhost:8080/speak

file.generation.serveRoot=http://localhost:8080
file.generation.urlSuffix=.mp3
